.see-more-wrapper {
    position: relative;
    display: inline-block;
}

.see-more-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    font-size: 1.2rem;  /* Aumentei o tamanho da fonte */
    padding: 10px;  /* Aumentei o padding */
    transition: transform 0.2s ease;
}

.see-more-btn:hover {
    color: #0056b3;
    transform: scale(1.1); /* Aumentei o efeito de zoom no hover */
}

.see-more-tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 8px 10px;  /* Aumentei o padding */
    position: absolute;
    z-index: 1;
    top: -40px;  /* Aumentei a distância da tooltip */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 0.8rem;  /* Aumentei o tamanho da fonte da tooltip */
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.see-more-wrapper:hover .see-more-tooltip {
    visibility: visible;
    opacity: 1;
}
