.produtos-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: black;
}

h2 {
    color: rgb(207, 207, 207)
}

.produtos-grid {
    display: grid;
    gap: 10px;
    margin-top: 20px;
}

.grid-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    color: black;
    background-color: darkgray;
    border-radius: 20px;
    font-weight: bold;
    text-align: left;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    background-color: #e3e3e3;
    border-radius: 20px;
    transition: background-color 0.3s;
    text-align: left;
}

.grid-row:hover {
    background-color: #b1b1b1;
}

.grid-row span {
    overflow-wrap: break-word;
    padding: 5px;
}

.acoes-coluna {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: left;
    flex-wrap: nowrap;
}

.adicionar-wrapper {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}